@page "/trace"

<PageTitle>Trace Of A Matrix</PageTitle>

<MudPaper Elevation="10" Outlined Height="100%" Width="100%" Style="padding: 20px;">
    <h1>Trace Of A Matrix</h1>
    <TwoMatricesPageComponent NameOftheButton="Get The Trace" MatrixDisplayTypeForA="MatrixDisplayType.Matrix" MatrixDisplayTypeForB="MatrixDisplayType.None">
        <Result>
            @if (result.HasValue)
            {
                <MudStack Row Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Wrap="Wrap.Wrap">
                    <MudText Typo="Typo.h5" Inline>
                        <Equation TextToRender="\(\mathrm{ Tr } A\)" />
                    </MudText>
                    <MudText Typo="Typo.h5" Inline>
                        =
                        <FractionComponent Fraction="result.Value" Display="Display.Inline" />
                    </MudText>
                </MudStack>
            }
        </Result>
        <Steps>
            @if (step is not null)
            {
                <MudStack Row Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Wrap="Wrap.Wrap">
                    <MatrixComponent Matrix="(Matrix.ConvertMatrix() ?? [])" Display="Display.Inline" />
                    <MudText Typo="Typo.h5" Inline>=</MudText>
                    <Equation TextToRender="@($"\\(\\mathrm{{ [{step}] }}\\)")" />
                    <MudText Typo="Typo.h5" Inline>=</MudText>
                    <FractionComponent Fraction="result!.Value" Display="Display.Inline" />
                </MudStack>
            }
        </Steps>
    </TwoMatricesPageComponent>
</MudPaper>


@code {
    private Fraction[,]? Matrix;

    public Fraction? result = null;
    public string? step = null;

    public async Task Execute(Fraction[,] matrix)
    {
        await Task.Run(() =>
        {
            Matrix = matrix;
            if (Settings.ShowSteps)
            {
                var result = Linear.TraceWithResult(matrix);
                step = result.Step;
                this.result = result.Result;
            }
            else
            {
                result = Linear.Trace(matrix);
            }
        });
    }
}