@page "/trace"

<PageTitle>Trace Of A Matrix</PageTitle>

<MudPaper Elevation="10" Outlined Height="100%" Width="100%" Style="padding: 20px;">
    <h1>Trace Of A Matrix</h1>
    <MatricesPageComponent MatricesCount="1" NameOftheButton="Get The Trace" OnButtonClick="Execute">
        <Result>
            @if (result.HasValue)
            {
                <MudStack Class="math-content block" Row Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Wrap="@(Settings.EquationSettings.ForceBreakMatrices ? Wrap.Wrap : Wrap.NoWrap)">
                    <Equation Equation="\mathrm{ Tr } A = " />
                    <FractionComponent Fraction="result.Value" Display="Display.Inline" />
                </MudStack>
            }
        </Result>
        <Steps>
            @if (step is not null)
            {
                <MudStack Class="math-content block" Row Justify="Justify.FlexStart" AlignItems="AlignItems.Center" Wrap="@(Settings.EquationSettings.ForceBreakMatrices ? Wrap.Wrap : Wrap.NoWrap)">
                    <MatrixComponent Matrix="Matrix" Display="Display.Inline" />
                    <Equation Equation="@($"= \\mathrm{{ [{step}] }} = ")" />
                    <FractionComponent Fraction="result!.Value" Display="Display.Inline" />
                </MudStack>
            }
        </Steps>
    </MatricesPageComponent>
</MudPaper>


@code {
    private Fraction[,]? Matrix;

    public Fraction? result = null;
    public string? step = null;

    public async Task Execute(MatrixInputDto[] matrices)
    {
        await Task.Run(() =>
        {
            Matrix = matrices[0].Matrix;
            if (Settings.ShowSteps)
            {
                var result = Linear.TraceWithResult(Matrix);
                step = result.Step;
                this.result = result.Result;
            }
            else
            {
                result = Linear.Trace(Matrix);
            }
        });
    }
}